<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  
<div id="main-menu">
<ul id="menu-main_menu_es" class="nav clearfix top_menu_items"><li id="menu-item-16837" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16837"><a href="#">Sobre DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-16838" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16838"><a href="https://diem25.org/que-es-diem25/">¿Qué es DiEM25?</a></li>
<li id="menu-item-16839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16839"><a href="https://diem25.org/manifiesto/">Manifiesto</a></li>
<li id="menu-item-16840" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16840"><a href="https://diem25.org/diem25-principios-organizativos/">Principios Organizativos</a></li>
<li id="menu-item-16841" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16841"><a href="https://diem25.org/colectivo-coordinador/">Colectivo Coordinador</a></li>
<li id="menu-item-16842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16842"><a href="https://diem25.org/comite-asesor/">Comité Asesor</a></li>
<li id="menu-item-16843" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16843"><a href="https://internal.diem25.org/es/vc/view">Consejo de Validación</a></li>
<li id="menu-item-16844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16844"><a href="https://diem25.org/national-collectives/">Colectivos Nacionales</a></li>
<li id="menu-item-16845" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16845"><a href="https://internal.diem25.org/members?locale=es">Miembros</a></li>
<li id="menu-item-16846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16846"><a href="https://diem25.org/primer-aniversario/">Primer Aniversario</a></li>
<li id="menu-item-16847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16847"><a href="https://diem25.org/nuestro-segundo-aniversario/">Segundo Aniversario</a></li>
</ul>
</li>
<li id="menu-item-16848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16848"><a href="https://diem25.org/noticias/">Noticias</a>
<ul class="sub-menu">
<li id="menu-item-16849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16849"><a href="https://diem25.org/noticias/">Artículos</a></li>
<li id="menu-item-16850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16850"><a href="https://diem25.org/dsc-news-es/">DSC News</a></li>
<li id="menu-item-16851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16851"><a href="https://diem25.org/videos-es/">Vídeos</a></li>
<li id="menu-item-20888" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20888"><a href="https://internal.diem25.org/events">Próximos Eventos</a></li>
</ul>
</li>
<li id="menu-item-16853" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16853"><a href="#">Campañas</a>
<ul class="sub-menu">
<li id="menu-item-16854" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16854"><a href="https://diem25.org/agenda-progresista-para-europa/">Agenda Progresista para Europa</a></li>
<li id="menu-item-16855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16855"><a href="https://diem25.org/new-deal-europeo/">New Deal Europeo</a></li>
<li id="menu-item-16856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16856"><a href="https://diem25.org/1a-campana-transparencia/">Transparencia</a></li>
<li id="menu-item-16857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16857"><a href="https://diem25.org/campana-refugiados/">Refugiados</a></li>
<li id="menu-item-16858" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16858"><a href="https://diem25.org/campana-referendum-ue/">Referéndum GB</a></li>
<li id="menu-item-16859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16859"><a href="https://diem25.org/stopthedeal-es">#StopTheDeal</a></li>
<li id="menu-item-16860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16860"><a href="https://diem25.org/thegreekfiles-es">#TheGreekFiles</a></li>
</ul>
</li>
<li id="menu-item-16874" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16874"><a href="https://diem25.org/sala-de-prensa/">Sala de Prensa</a></li>
<li id="menu-item-16865" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16865"><a href="#">Participa</a>
<ul class="sub-menu">
<li id="menu-item-16866" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16866"><a href="https://internal.diem25.org/es/users/sign_up">Únete a Nosotros</a></li>
<li id="menu-item-16867" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16867"><a href="https://diem25.org/donate">Donativos</a></li>
<li id="menu-item-16868" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16868"><a href="https://diem25.org/como-presentarse-como-voluntario-para-diem25-a-nivel-local/">Voluntarios</a></li>
<li id="menu-item-16869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16869"><a href="https://diem25.org/wp-content/uploads/2016/09/160918_DiEM25_PolicyPapers_protocol_ES.pdf">Trabajo Político</a></li>
<li id="menu-item-16870" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16870"><a href="https://internal.diem25.org/es/dscs/view">Grupos Locales / DSC</a></li>
<li id="menu-item-16871" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16871"><a href="https://diem25.org/thematic-dscs/">DSC Temáticos</a></li>
<li id="menu-item-16872" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16872"><a target="_blank" href="https://discuss.diem25.org/">Foros</a></li>
<li id="menu-item-16873" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16873"><a href="https://internal.diem25.org/?locale=es">Área de Miembros</a></li>
</ul>
</li><li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div>