<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  

                   <div id="main-menu">
<ul id="menu-main_menu_fr" class="nav clearfix top_menu_items"><li id="menu-item-16877" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16877"><a href="#">À propos de DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-16878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16878"><a href="https://diem25.org/quest-ce-que-diem25/">Qu’est-ce que DiEM25 ?</a></li>
<li id="menu-item-16879" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16879"><a href="https://diem25.org/manifeste-version-longue/">Manifeste</a></li>
<li id="menu-item-16880" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16880"><a href="https://diem25.org/diem25-principes-organisateurs/">DiEM25 – Principes Organisateurs</a></li>
<li id="menu-item-16881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16881"><a href="https://diem25.org/cc">Coordinating Collective</a></li>
<li id="menu-item-16882" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16882"><a href="https://diem25.org/ap">Advisory Panel</a></li>
<li id="menu-item-16883" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16883"><a href="https://internal.diem25.org/fr/vc/view">Conseil de Validation</a></li>
<li id="menu-item-16884" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16884"><a href="https://diem25.org/national-collectives/">Collectifs Nationaux</a></li>
<li id="menu-item-16885" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16885"><a href="http://internal.diem25.org/members?locale=fr">Membres</a></li>
<li id="menu-item-16886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16886"><a href="https://diem25.org/diem25-un-an-plus-tard/">Premier Anniversaire</a></li>
<li id="menu-item-16887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16887"><a href="https://diem25.org/two-year-anniversary/">Deuxième Anniversaire</a></li>
</ul>
</li>
<li id="menu-item-16888" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16888"><a href="#">News</a>
<ul class="sub-menu">
<li id="menu-item-16889" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16889"><a href="https://diem25.org/news-fr/">Nos articles</a></li>
<li id="menu-item-16890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16890"><a href="https://diem25.org/dsc-news-fr/">DSC News</a></li>
<li id="menu-item-16891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16891"><a href="https://diem25.org/videos-fr/">Nos vidéos</a></li>
<li id="menu-item-20889" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20889"><a href="https://internal.diem25.org/fr/events">Calendrier</a></li>
</ul>
</li>
<li id="menu-item-16893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16893"><a href="#">Campagnes</a>
<ul class="sub-menu">
<li id="menu-item-16894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16894"><a href="https://diem25.org/programme-progressiste-pour-leurope/">Programme progressiste pour l&#8217;Europe</a></li>
<li id="menu-item-16895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16895"><a href="https://diem25.org/new-deal-europeen/">New Deal Européen</a></li>
<li id="menu-item-16896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16896"><a href="https://diem25.org/campagne-transparence/">Transparence</a></li>
<li id="menu-item-16897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16897"><a href="https://diem25.org/campagne-les-refugies/">Les Réfugiés</a></li>
<li id="menu-item-16898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16898"><a href="https://diem25.org/campagne-referendum-du-royaume-uni/">Référendum du Royaume-Uni</a></li>
<li id="menu-item-16899" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16899"><a href="https://diem25.org/stopthedeal-fr">#StopTheDeal</a></li>
<li id="menu-item-16900" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16900"><a href="https://diem25.org/thegreekfiles">#TheGreekFiles</a></li>
</ul>
</li>
<li id="menu-item-16914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16914"><a href="https://diem25.org/press">Espace de presse</a></li>
<li id="menu-item-16905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16905"><a href="#">Participez</a>
<ul class="sub-menu">
<li id="menu-item-16906" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16906"><a href="https://internal.diem25.org/fr/users/sign_up">Rejoignez-nous</a></li>
<li id="menu-item-16907" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16907"><a href="https://diem25.org/donate">Faites un don</a></li>
<li id="menu-item-16908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16908"><a href="https://diem25.org/comment-devenir-volontaire/">Être bénévole</a></li>
<li id="menu-item-16909" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16909"><a href="https://diem25.org/wp-content/uploads/2016/09/160918_DiEM25_PolicyPapers_protocol_FR.pdf">Développez notre programme</a></li>
<li id="menu-item-16910" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16910"><a href="https://internal.diem25.org/fr/dscs/view">Groupes locaux / DSCs</a></li>
<li id="menu-item-16911" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16911"><a href="https://diem25.org/thematic-dscs/">DSCs thématiques</a></li>
<li id="menu-item-16912" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16912"><a target="_blank" href="https://discuss.diem25.org/">Forum</a></li>
<li id="menu-item-16913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16913"><a href="https://internal.diem25.org/?locale=fr">Espace membres</a></li>
</ul>
</li><li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div>