<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  
<div id="main-menu">
                      <ul id="menu-main-menu-da" class="nav"><li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#">Om DiEM25</a>
<ul role="menu" class="sub-menu">
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/what-is-diem25/">What is DiEM25?</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/manifest-lang-version/">Manifest</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/organising-principles/">DiEM25 Organising Principles</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/cc/">Coordinating Collective</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/ap/">Advisory Panel</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/medlemmer/"><i class="_mi _before dashicons dashicons-admin-users" aria-hidden="true" style="font-size:2em;"></i><span>Medlemmer</span></a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#">News</a>
<ul role="menu" class="sub-menu">
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/nyheder/"><i class="_mi _before fa fa-newspaper-o" aria-hidden="true" style="font-size:2em;"></i><span>Nyheder</span></a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/video-da/"><i class="_mi _before dashicons dashicons-video-alt" aria-hidden="true" style="font-size:2em;"></i><span>Video</span></a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://internal.diem25.org/events/">Kalender</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#">Kampagner</a>
<ul role="menu" class="sub-menu">
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/progressive-agenda-for-europe/">Progressive Agenda for Europe</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/campaign-transparency/">Campaign: Transparency</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/campaign-refugees/">Campaign: Refugees</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/campaign-uk-referendum/">Campaign: UK referendum</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#">Assemblies</a>
<ul role="menu" class="sub-menu">
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://diem25.org/events/?page_id=1430">BERLIN &#8211; Founding</a></li>
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://democracyineurope.eu/">ROME &#8211; Transparency</a></li>
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://diem25.org/events/?page_id=2">VIENNA &#8211; Refugees</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#">Participate</a>
<ul role="menu" class="sub-menu">
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://internal.diem25.org/da/users/sign_up"><i class="_mi _before dashicons dashicons-image-filter" aria-hidden="true"></i><span>Bliv en af os</span></a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/how-to-volunteer/">Volunteer for DiEM25</a></li>
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://diem25.org/wp-content/uploads/2016/09/160920DiEM25_PolicyPapers_protocol_EN.pdf">Develop our Agenda</a></li>
	<li class=" menu-item menu-item-type-post_type menu-item-object-page has-menu-child"><a href="https://diem25.org/local-groups-dscs/">Local Groups / DSCs</a></li>
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a target="_blank" href="http://www.diem25.org/forum"><i class="_mi _before dashicons dashicons-testimonial" aria-hidden="true" style="font-size:2em;"></i><span>Forum</span></a></li>
	<li class=" menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><a href="https://internal.diem25.org/?locale=da">Members-only area</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div>