<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  

                    

                   <div id="main-menu">
<ul id="menu-main_menu_en" class="nav clearfix top_menu_items"><li id="menu-item-16551" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16551"><a href="#">About DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-16552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16552"><a href="https://diem25.org/what-is-diem25/">What is DiEM25?</a></li>
<li id="menu-item-16553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16553"><a href="https://diem25.org/manifesto-long/">Manifesto</a></li>
<li id="menu-item-16554" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16554"><a href="https://diem25.org/organising-principles/">Organising Principles</a></li>
<li id="menu-item-16555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16555"><a href="https://diem25.org/cc">Coordinating Collective</a></li>
<li id="menu-item-16556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16556"><a href="https://diem25.org/ap">Advisory Panel</a></li>
<li id="menu-item-16557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16557"><a href="https://internal.diem25.org/en/vc/view">Validating Council</a></li>
<li id="menu-item-16558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16558"><a href="https://diem25.org/national-collectives/">National Collectives</a></li>
<li id="menu-item-16559" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16559"><a href="https://internal.diem25.org/members?locale=en">Members</a></li>
<li id="menu-item-16560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16560"><a href="https://diem25.org/one-year-anniversary/">One Year Anniversary</a></li>
<li id="menu-item-16561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16561"><a href="https://diem25.org/two-year-anniversary/">Two Year Anniversary</a></li>
</ul>
</li>
<li id="menu-item-16562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16562"><a href="#">News</a>
<ul class="sub-menu">
<li id="menu-item-16563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16563"><a href="https://diem25.org/news/">Our articles</a></li>
<li id="menu-item-16564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16564"><a href="https://diem25.org/dsc-news/">DSC News</a></li>
<li id="menu-item-16565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16565"><a href="https://diem25.org/videos/">Our videos</a></li>
<li id="menu-item-20885" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20885"><a href="https://internal.diem25.org/events">Upcoming events</a></li>
</ul>
</li>
<li id="menu-item-16567" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16567"><a href="#">Campaigns</a>
<ul class="sub-menu">
<li id="menu-item-16568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16568"><a href="http://diem25.org/progressive-agenda-for-europe/">Progressive Agenda for Europe</a></li>
<li id="menu-item-16569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16569"><a href="https://diem25.org/end/">European New Deal</a></li>
<li id="menu-item-16570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16570"><a href="https://diem25.org/campaign-transparency/">Transparency</a></li>
<li id="menu-item-16571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16571"><a href="https://diem25.org/campaign-refugees/">Refugees</a></li>
<li id="menu-item-16572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16572"><a href="https://diem25.org/campaign-uk-referendum/">UK Referendum</a></li>
<li id="menu-item-16573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16573"><a href="https://diem25.org/stopthedeal">#StopTheDeal</a></li>
<li id="menu-item-16574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16574"><a href="https://diem25.org/thegreekfiles/">#TheGreekFiles</a></li>
</ul>
</li>
<li id="menu-item-16588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16588"><a href="https://diem25.org/press/">Press Room</a></li>
<li id="menu-item-16579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16579"><a href="#">Participate</a>
<ul class="sub-menu">
<li id="menu-item-16580" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16580"><a href="https://internal.diem25.org/en/users/sign_up">Join Us</a></li>
<li id="menu-item-16581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16581"><a href="https://diem25.org/donate">Donate</a></li>
<li id="menu-item-16582" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16582"><a href="https://diem25.org/faq/how-can-i-volunteer-for-diem25/">Volunteer for DiEM25</a></li>
<li id="menu-item-16583" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16583"><a href="https://diem25.org/wp-content/uploads/2016/09/160920DiEM25_PolicyPapers_protocol_EN.pdf">Develop our agenda</a></li>
<li id="menu-item-16584" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16584"><a href="https://internal.diem25.org/en/dscs/view">Local Groups / DSCs</a></li>
<li id="menu-item-16585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16585"><a href="https://diem25.org/thematic-dscs/">Thematic DSCs</a></li>
<li id="menu-item-16586" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16586"><a target="_blank" href="https://discuss.diem25.org/">Forum</a></li>
<li id="menu-item-16587" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16587"><a href="https://internal.diem25.org">Members-only area</a></li>
</ul>
</li><li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
</div>