<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  
<div id="main-menu">
<ul id="menu-main_menu_pt" class="nav clearfix top_menu_items"><li id="menu-item-17062" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17062"><a href="#">Sobre DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-17063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17063"><a href="https://diem25.org/o-que-e-o-diem25/">O que é o DiEM25?</a></li>
<li id="menu-item-17064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17064"><a href="https://diem25.org/manifesto-versao-longa/">Manifest</a></li>
<li id="menu-item-17065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17065"><a href="https://diem25.org/diem25-principios-organizadores/">Princípios Organizadores</a></li>
<li id="menu-item-17066" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17066"><a href="https://diem25.org/cc">Colectivo Coordenador</a></li>
<li id="menu-item-17067" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17067"><a href="https://diem25.org/ap">Painel Consultivo</a></li>
<li id="menu-item-17068" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17068"><a href="https://internal.diem25.org/pt/vc/view">Conselho de Validação</a></li>
<li id="menu-item-17069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17069"><a href="https://diem25.org/national-collectives/">Colectivos Nacionais</a></li>
<li id="menu-item-17070" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17070"><a href="http://internal.diem25.org/members?locale=pt">Membros</a></li>
</ul>
</li>
<li id="menu-item-17071" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17071"><a href="#">Noticias</a>
<ul class="sub-menu">
<li id="menu-item-17072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17072"><a href="https://diem25.org/noticias-2/">Notícias</a></li>
<li id="menu-item-17073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17073"><a href="https://diem25.org/dsc-news-pt/">Noticias CED</a></li>
<li id="menu-item-17074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17074"><a href="https://diem25.org/videos-po/">Vídeos</a></li>
<li id="menu-item-17075" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17075"><a href="https://internal.diem25.org/events">Calendário</a></li>
</ul>
</li>
<li id="menu-item-17076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17076"><a href="#">Campanhas</a>
<ul class="sub-menu">
<li id="menu-item-17077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17077"><a href="https://diem25.org/agenda-progressista-para-a-europa/">Agenda Progressista para a Europa</a></li>
<li id="menu-item-17078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17078"><a href="https://diem25.org/campanha-transparencia/">Campanha: Transparência</a></li>
<li id="menu-item-17079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17079"><a href="https://diem25.org/campanha-refugiados/">Campanha: Refugiados</a></li>
<li id="menu-item-17080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17080"><a href="https://diem25.org/campanha-referendo-da-gra-bretanha/">Campanha: Referendo da Grã-Bretanha</a></li>
<li id="menu-item-17081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17081"><a href="https://diem25.org/stopthedeal">#StopTheDeal</a></li>
</ul>
</li>
<li id="menu-item-17118" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17118"><a href="https://diem25.org/press/">Press Room</a></li>
<li id="menu-item-17086" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17086"><a href="#">Participe</a>
<ul class="sub-menu">
<li id="menu-item-17087" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17087"><a href="https://internal.diem25.org/pt/users/sign_up">Junte-se a nós</a></li>
<li id="menu-item-17088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17088"><a href="https://diem25.org/orientacoes-para-voluntarios/">Voluntários</a></li>
<li id="menu-item-17089" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17089"><a href="https://internal.diem25.org/pt/dscs/view">Grupos locais / CEDs</a></li>
<li id="menu-item-17090" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17090"><a href="https://diem25.org/thematic-dscs/">CED temáticos</a></li>
<li id="menu-item-17091" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17091"><a target="_blank" href="https://discuss.diem25.org/">Fórum</a></li>
<li id="menu-item-17092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17092"><a href="https://internal.diem25.org/?locale=pt">Para os membros</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div>