<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org">
                                                                                <%= image_tag "logo_regular.svg", class: "enter-logo img-responsive", alt: "Logo" %>
                                                                               
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><%= image_tag "Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg", class: "ads-logo img-responsive", alt: "Transparency campaign" %></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  

                    
<div id="main-menu">
<ul id="menu-main_menu_el" class="nav clearfix top_menu_items"><li id="menu-item-16917" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16917"><a href="#">ΤΟ DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-16918" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16918"><a href="https://diem25.org/%cf%84%ce%b9-%ce%b5%ce%af%ce%bd%ce%b1%ce%b9-%cf%84%ce%bf-diem25/">ΤΙ ΕΙΝΑΙ ΤΟ DiEM25;</a></li>
<li id="menu-item-16919" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16919"><a href="https://diem25.org/%ce%bc%ce%b1%ce%bd%ce%b9%cf%86%ce%ad%cf%83%cf%84%ce%bf-%ce%ba%ce%b1%ce%bd%ce%bf%ce%bd%ce%b9%ce%ba%ce%ae-%ce%b5%ce%ba%ce%b4%ce%bf%cf%87%ce%ae/">ΜΑΝΙΦΕΣΤΟ</a></li>
<li id="menu-item-16920" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16920"><a href="https://diem25.org/diem25-%CE%BF%CF%81%CE%B3%CE%B1%CE%BD%CF%89%CF%84%CE%B9%CE%BA%CE%AD%CF%82-%CE%B1%CF%81%CF%87%CE%AD%CF%82/">ΟΡΓΑΝΩΤΙΚΕΣ ΑΡXΕΣ</a></li>
<li id="menu-item-16921" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16921"><a href="https://diem25.org/cc">ΣΥΝΤΟΝΙΣΤΙΚΗ ΕΠΙΤΡΟΠΗ</a></li>
<li id="menu-item-16922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16922"><a href="https://www.diem25.org/ap">ΣΥΜΒΟΥΛΕΥΤΙΚΗ ΟΜΑΔΑ</a></li>
<li id="menu-item-16923" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16923"><a href="https://internal.diem25.org/el/vc/view">ΕΠΙΚΥΡΩΤΙΚΟ ΣΥΜΒΟΥΛΙΟ</a></li>
<li id="menu-item-16924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16924"><a href="https://diem25.org/national-collectives/">Εθνικές Επιτροπές</a></li>
<li id="menu-item-16925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16925"><a href="http://internal.diem25.org/members?locale=el">ΜΕΛΗ</a></li>
</ul>
</li>
<li id="menu-item-16926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16926"><a href="https://diem25.org/%ce%bd%ce%ad%ce%b1/">ΝΕΑ</a>
<ul class="sub-menu">
<li id="menu-item-16927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16927"><a href="https://diem25.org/%ce%bd%ce%ad%ce%b1/">ΤΑ ΑΡΘΡΑ ΜΑΣ</a></li>
<li id="menu-item-16928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16928"><a href="https://diem25.org/dsc-news-gr/">ΑΡΘΡΑ ΤΩΝ ΑΟ</a></li>
<li id="menu-item-16929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16929"><a href="https://diem25.org/videos-gr/">ΤΑ ΒΙΝΤΕΟ ΜΑΣ</a></li>
<li id="menu-item-20890" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20890"><a href="https://internal.diem25.org/el/events">ΗΜΕΡΟΛΟΓΙΟ</a></li>
</ul>
</li>
<li id="menu-item-16931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16931"><a href="#">ΕΚΣΤΡΑΤΕΙΕΣ</a>
<ul class="sub-menu">
<li id="menu-item-16932" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16932"><a href="https://diem25.org/%CF%80%CF%81%CE%BF%CE%BF%CE%B4%CE%B5%CF%85%CF%84%CE%B9%CE%BA%CE%AE-%CE%B1%CF%84%CE%B6%CE%AD%CE%BD%CF%84%CE%B1-%CE%B3%CE%B9%CE%B1-%CF%84%CE%B7%CE%BD-%CE%B5%CF%85%CF%81%CF%8E%CF%80%CE%B7/">ΠΡΟΟΔΕΥΤΙΚΗ ΑΤΖΕΝΤΑ ΓΙΑ ΤΗΝ ΕΥΡΩΠΗ</a></li>
<li id="menu-item-16933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16933"><a href="https://diem25.org/nea-evropaiki-symfonia/">Νέα Ευρωπαϊκή Συμφωνία</a></li>
<li id="menu-item-16934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16934"><a href="https://diem25.org/%ce%b5%ce%ba%cf%83%cf%84%cf%81%ce%b1%cf%84%ce%b5%ce%af%ce%b1-%ce%b4%ce%b9%ce%b1%cf%86%ce%ac%ce%bd%ce%b5%ce%b9%ce%b1/">ΔΙΑΦΑΝΕΙΑ</a></li>
<li id="menu-item-16935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16935"><a href="https://diem25.org/%ce%b4%ce%b5%cf%8d%cf%84%ce%b5%cf%81%ce%b7-%ce%b5%ce%ba%cf%83%cf%84%cf%81%ce%b1%cf%84%ce%b5%ce%af%ce%b1-%cf%80%cf%81%cf%8c%cf%83%cf%86%cf%85%ce%b3%ce%b5%cf%82/">ΠΡΟΣΦΥΓΙΚΟ</a></li>
<li id="menu-item-16936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16936"><a href="https://diem25.org/%cf%84%cf%81%ce%af%cf%84%ce%b7-%ce%b5%ce%ba%cf%83%cf%84%cf%81%ce%b1%cf%84%ce%b5%ce%af%ce%b1-%ce%b4%ce%b7%ce%bc%ce%bf%cf%88%ce%ae%cf%86%ce%b9%cf%83%ce%bc%ce%b1-%ce%b7%ce%bd%cf%89%ce%bc%ce%ad%ce%bd/">ΔΗΜΟΨΗΦΙΣΜΑ ΗΝΩΜΕΝΟΥ ΒΑΣΙΛΕΙΟΥ</a></li>
<li id="menu-item-16937" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16937"><a href="https://diem25.org/stopthedeal-el">#StopTheDeal</a></li>
<li id="menu-item-16938" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16938"><a href="https://diem25.org/%ce%b5%ce%ba%cf%83%cf%84%cf%81%ce%b1%cf%84%ce%b5%ce%af%ce%b1-thegreekfiles/">#TheGreekFiles</a></li>
</ul>
</li>
<li id="menu-item-16952" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16952"><a href="https://diem25.org/press">ΚΈΝΤΡΟ ΤΎΠΟΥ</a></li>
<li id="menu-item-16943" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16943"><a href="#">ΣΥΜΜΕΤΟΧΗ</a>
<ul class="sub-menu">
<li id="menu-item-16944" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16944"><a href="https://internal.diem25.org/el/users/sign_up">ΓΙΝΕ ΜΕΛΟΣ</a></li>
<li id="menu-item-16945" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16945"><a href="https://diem25.org/donate">ΥΠΟΣΤΗΡΙΞΤΕ</a></li>
<li id="menu-item-16946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16946"><a href="https://diem25.org/%cf%80%cf%89%cf%82-%ce%bd%ce%b1-%ce%b3%ce%af%ce%bd%ce%b5%cf%84%ce%b5-%ce%b5%ce%b8%ce%b5%ce%bb%ce%bf%ce%bd%cf%84%ce%ae%cf%82/">ΓΙΝΕ ΕΘΕΛΟΝΤΗΣ ΣΕ ΤΟΠΙΚΟ ΕΠΙΠΕΔΟ</a></li>
<li id="menu-item-16947" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16947"><a href="https://diem25.org/wp-content/uploads/2016/09/160917_DiEM25_PolicyPapers_protocol_EL.pdf">ΠΡΟΟΔΕΥΤΙΚΗ ΑΤΖΕΝΤΑ</a></li>
<li id="menu-item-16948" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16948"><a href="https://internal.diem25.org/el/dscs/view">ΤΟΠΙΚΕΣ ΟΜΑΔΕΣ (DSCs)</a></li>
<li id="menu-item-16949" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16949"><a href="https://diem25.org/thematic-dscs/">Θεματικές ΑΟ</a></li>
<li id="menu-item-16950" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16950"><a target="_blank" href="https://discuss.diem25.org/">ΦΟΡΟΥΜ</a></li>
<li id="menu-item-16951" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16951"><a href="https://internal.diem25.org/?locale=el">ΠΕΡΙΟΧΗ ΜΕΛΩΝ</a></li>
</ul>
</li><li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>

                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div>