<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "DiEM25" %></title>
  <meta name="description" content="<%= @description || "Democracy in Europe Movement 2025" %>" />
  <meta property="og:title" content="<%= @title || "DiEM25" %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:site_name" content="DiEM25 - Democracy in Europe Movement 2025" />
  <meta property="og:description" content="<%= @description || "Democracy in Europe Movement 2025" %>" />
  <meta property="og:image" content="<%= @fb_image || @image || "https://diem25.org/wp-content/uploads/2016/11/DiEM25_preview.png" %>" />
  <meta property="fb:admins" content="774837349" />
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@DiEM_25">
  <meta name="twitter:title" content="<%= @title || "DiEM25" %>">
  <meta name="twitter:description" content="<%= @description || "Democracy in Europe Movement 2025" %>">
  <meta name="twitter:creator" content="@DiEM_25">
  <meta name="twitter:image" content="<%= @tw_image || @image || "https://diem25.org/wp-content/uploads/2016/11/DiEM25_preview.png" %>">
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
	<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="https://diem25.org/wp-content/uploads/2016/02/favicon-png.png" type="image/x-icon">
  <link rel="stylesheet" id="redux-google-fonts-themeum_options-css" href="https://fonts.googleapis.com/css?family=Ubuntu%3A300%2C400%2C500%2C700%2C300italic%2C400italic%2C500italic%2C700italic&amp;subset=cyrillic-ext&amp;ver=1466205916" type="text/css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
</head>
<body class="seamless">  
  <div id="page" class="hfeed site fullwidth">

    <%= render :partial => "header" %>

    <div class="container" style="margin-top: 20px">
      <% if alert %>
      <div class="internal-alert">
        <p><%= sanitize(alert) %></p>

      </div>
      <% end %>

      <% if notice %>
      <div class="success-alert">
        <p><%= sanitize(notice) %></p>

      </div>
      <% end %>  
			
			<% if flash[:extra] %>
			  <h2 style="text-align: center"><%= sanitize(flash[:extra]) %></h2>
			<% end %>
    </div>


    <section id="main" class="clearfix">
      <div class="container">
        <div id="content" class="site-content" role="main">
    
            <%= yield %>
         
        </div> <!--/#content-->
      </div> <!--/container-->
    </section> <!--/#main-->


  </div>
  <%= render :partial => "footer" %>

</body>
</html>
